<%= form_with model: article, local:true do |form| %>

  <% if @article.errors.any? %>
    <div id="error_explanation">
      <strong>
        <%= pluralize(@article.errors.count, "error") %> prohibited
        this article from being saved:
      </strong>
      <ul>
        <% @article.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %> 
  
  <div>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :body %><br>
    <%= form.text_area :body %><br>
  </div>

  <div>
    <%= form.submit %>
  </div>
  <div>
    <%= link_to "Go back", root_path %>
  </div>
<% end %>
